@import "../reset.css";

body {
  margin: 0;
  font-family: "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

*,
pre {
  font-family: "sans-serif";
}
